{% load static %}

<table id="cluster_datagrid" class="easyui-datagrid" border="false" fit="true"></table>

<script type="text/javascript" src="{% static 'xm2cloud_cmp/js/purl.js' %}"></script>
<script type="text/javascript">
    var ajax_csrf_token = "{{ csrf_token }}"
        ,hostgroup_manage = "{% url 'xm2cloud_cmp:hostgroup_manage' %}"
        ,cluster_list_api = "{% url 'xm2cloud_cmp:api_cluster_list' %}"
        ,cluster_detail = "{% url 'xm2cloud_cmp:cluster_detail' id=0 %}";

    $.ajaxSetup({data: {csrfmiddlewaretoken:  ajax_csrf_token}});

    function get_query_params() {
        var params = $.url(location.href).param();
        params['clusterSearch'] = $('#cluster_search').textbox('getValue');

        return params;
    }

    $(function () {
        $._datagrid('#cluster_datagrid', {
            url: cluster_list_api,
            onLoadSuccess: function (data) {
                var row_num = $(this).datagrid('getRows').length;
                for(var i=0; i<row_num; i++){
                    var mbutton_id = 'mb_cluster_'+i;
                    $('#'+mbutton_id).menubutton({menu: '#mt_cluster_'+i});
                }
                
                $('.cluster-detail').unbind('click').bind('click', function () {
                    var _t = $(this).attr('_t');
                    $._control('#control', {href: _t});
                })
            },
            queryParams: get_query_params(),
            columns:[[
                {
                    field:'name',width:'35%',title:'名称',sortable:true,
                    formatter: function(value, row, index){
                        var _t = cluster_detail.replace('/0/', '/' + row.id + '/');
                        return '<a _t="'+_t+'" class="cluster-detail link-underline">'+value+'</a>';
                    }
                },
                {
                    field:'hostgroups',width:'5%',title:'群组',sortable:true,align:'center',
                    formatter: function(value, row, index){
                        var _t = hostgroup_manage+'?clusterId='+row.id;
                        return '<a target="_blank" href="'+_t+'" class="link-underline">'+value+'</a>';
                    }
                },
                {
                    field:'notes',width:'27%',title:'备注',sortable:true
                },
                {
                    field:'update_time',width:'10%',title:'上次修改',sortable:true
                },
                {
                    field:'exception',width:'4%',title:'异常',sortable:true,
                    formatter: function(value, row, index){
                        return '<span class="font-green link-underline">已确认</span>';
                    }
                },
                {
                    field:'operation',width:'10%',title:'操作',align:'center',
                    formatter: function(value, row, index){
                        var tools = '<a id="mb_cluster_'+index+'" class="normal-link">'
                                  + '<font class="link-underline">更多</font></a>';
                        var extra = '<div id="mt_cluster_'+index+'" style="display: none;">'
                                  + '<div>参数设置</div>'
                                  + '<div>脚本执行</div>'
                                  + '<div>告警日志</div></div>';
                        return tools + extra;
                    }
                }
            ]]
        })
    })
</script>