<div class="nav-page-container">
    <div class="page-title">
        <span>确认删除 ?</span>
    </div>
    <div class="page-notice">
        请完善以下信息,方便我们更好的为您服务.
    </div>
    <div class="page-body">
        <fieldset>
            <legend>基本信息</legend>
            <div class="form-group">
                <div class="lf form-label">操作用户 : </div>
                <div class="lf form-input">{{ request.user.username|capfirst }}</div>
            </div>
            <div class="clear"></div>
            <div class="form-group">
                <div class="lf form-label">关联实例 : </div>
                <div class="lf form-input">
                    <a target="_blank" href="{% url 'xm2cloud_cmp:timedtask_manage' %}?crontabId={{ object.pk }}" class="link-underline">
                        <span class="font-red">{{ object.periodictask_set.count }} 个</span>
                    </a>
                </div>
            </div>
            <div class="clear"></div>
            <div class="form-group">
                <div class="lf form-label">周期计划 : </div>
                <div class="lf form-input">{{ object.minute }} {{ object.hour }} {{ object.day_of_week }} {{ object.day_of_month }} {{ object.month_of_year }}</div>
            </div>
            <div class="clear"></div>
        </fieldset>
    </div>
    <div class="page-foot">
        <div class="operation rt">
            <a id="goback_timedtask" href="#" class="easyui-linkbutton button-white no-border-radius">返回</a>
            <a id="delete_crontab" href="#" class="easyui-linkbutton button-white no-border-radius">提交</a>
        </div>
        <div class="clear"></div>
    </div>
</div>

<script type="text/javascript">
    var selected_id = "{{ object.pk }}"
        ,ajax_csrf_token = "{{ csrf_token }}"
        ,crontab_delete_api = "{% url 'xm2cloud_cmp:api_crontab_delete' id=0 %}";


    $.ajaxSetup({data: {csrfmiddlewaretoken:  ajax_csrf_token}});

    $(function () {
        var _html;
        var _load;
        var delete_crontab = $('#delete_crontab');
        delete_crontab.linkbutton({
            onClick: function () {
                var that = this;
                if (!_html) _html = $(that).find('span:last').html();
                _load = '<i class="fa fa-circle-o-notch fa-spin"></i>' + ' ' + _html;
                $(that).find('span:last').html(_load);
                var crontab_delete_url = crontab_delete_api.replace('/0/', '/'+selected_id+'/');
                $._ajax({
                    url: crontab_delete_url,
                    traditional: true,
                    error_width: 501,
                    success: function (data) {
                        // location.href = data.next;
                        $._control('#control', {href: control_page});
                    },
                    complete: function () {
                        $(that).find('span:last').html(_html);
                    }
                })
            }
        });
        $('#goback_timedtask').linkbutton({
            onClick: function () {
                $._control('#control', {href: control_page});
            }
        });
    })
</script>