{% extends 'xm2cloud_cmp/_base.html' %}
{% load static %}

{% block container %}
    <div id="head" region="north" title="" split="false" border="false">
        {% include 'xm2cloud_cmp/_head.html' %}
    </div>
    <div id="body" region="center" title="" split="false" border="false">
        <div class="easyui-layout body-container" fit="true">
            <div class="nav-tool" region="north" title="<a class='link-underline'>监控大盘</a>" split="false"
                 border="false" collapsible="false">
                <div class="nav-tool-container">
                    <div class="lf left-tools">
                        <a href="#" data-start="1h-ago" data-downsample="30s-avg-nan" class="period-button easyui-linkbutton button-white normal-button">1小时</a>
                        <a href="#" data-start="3h-ago" data-downsample="1m-avg-nan" class="period-button easyui-linkbutton button-white normal-button">3小时</a>
                        <a href="#" data-start="6h-ago" data-downsample="2m-avg-nan" class="period-button easyui-linkbutton button-white normal-button">6小时</a>
                        <a href="#" data-start="12h-ago" data-downsample="4m-avg-nan" class="period-button easyui-linkbutton button-white normal-button">12小时</a>
                        <a href="#" data-start="1d-ago" data-downsample="8m-avg-nan" class="period-button easyui-linkbutton button-white normal-button">1天</a>
                        <a href="#" data-start="3d-ago" data-downsample="24m-avg-nan" class="period-button easyui-linkbutton button-white normal-button">3天</a>
                        <a href="#" data-start="7d-ago" data-downsample="56m-avg-nan" class="period-button easyui-linkbutton button-white normal-button">7天</a>
                        <a href="#" data-start="14d-ago" data-downsample="112m-avg-nan" class="period-button easyui-linkbutton button-white normal-button">14天</a>
                    </div>
                    <div class="rt right-tools">
                        <select id="screen_select" name="screen_select" class="easyui-combobox" value="" prompt="--请选择--"
                                required="true" missingMessage="" data-options="width:'282',height:'26'">
                        </select>
                        <a id="create_screen" href="#" class="tool-button easyui-linkbutton button-white normal-button"
                           data-options="width:'30',height:'26'"><i class="fa fa-plus"></i>
                        </a>
                        <a id="update_screen" href="#" class="tool-button easyui-linkbutton button-white normal-button"
                           data-options="width:'30',height:'26'"><i class="fa fa-edit"></i>
                        </a>
                        <a id="delete_screen" href="#" class="tool-button easyui-linkbutton button-white normal-button"
                           data-options="width:'30',height:'26'"><i class="fa fa-trash"></i>
                        </a>
                        <a id="create_target" href="#" class="tool-button easyui-linkbutton button-white normal-button"
                           data-options="width:'80',height:'26'">图表发布
                        </a>
                        <a id="update_target" href="#" class="tool-button easyui-linkbutton button-white normal-button"
                           data-options="width:'80',height:'26'">图表刷新
                        </a>
                        <a id="screen_screen" href="#" class="tool-button easyui-linkbutton button-white normal-button"
                           data-options="width:'80',height:'26'">全屏展示
                        </a>
                    </div>
                </div>
            </div>
            <div class="nav-page" region="center" title="" split="false" border="false" id="control"
                 href="{% url 'xm2cloud_cmp:dashboardscreen_default' %}">
            </div>
        </div>
    </div>
    <div id="foot" region="south" title="" split="false" border="false">
        {% include 'xm2cloud_cmp/_foot.html' %}
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
        var fullscreen_num = 0
            ,screen_select = $('#screen_select')
            ,create_screen = $('#create_screen')
            ,update_screen = $('#update_screen')
            ,delete_screen = $('#delete_screen')
            ,create_target = $('#create_target')
            ,screen_screen = $('#screen_screen')
            ,ajax_csrf_token = "{{ csrf_token }}"
            ,dashboardscreen_create = "{% url 'xm2cloud_cmp:dashboardscreen_create' %}"
            ,dashboardscreen_default = "{% url 'xm2cloud_cmp:dashboardscreen_default' %}"
            ,dashboardscreen_list_api = "{% url 'xm2cloud_cmp:api_dashboardscreen_list' %}"
            ,dashboardscreen_detail = "{% url 'xm2cloud_cmp:dashboardscreen_detail' id=0 %}"
            ,dashboardscreen_update = "{% url 'xm2cloud_cmp:dashboardscreen_update' id=0 %}"
            ,dashboardscreentarget_create = "{% url 'xm2cloud_cmp:dashboardscreentarget_create' %}"
            ,dashboardscreen_delete_api = "{% url 'xm2cloud_cmp:api_dashboardscreen_delete' id=0 %}";

        $.ajaxSetup({data: {csrfmiddlewaretoken:  ajax_csrf_token}});

        function load_dashboardscreen(p, options) {
            options = options || {};
            var select = $._default(options, 'select', '');
            $._ajax({
                type: 'GET',
                url: dashboardscreen_list_api,
                traditional: true,
                error_width: 501,
                beforeSend: function (XHR) {
                },
                success: function (data) {
                    $.map(data.rows, function (o, i) {
                        if(o.name==select) data.rows[i]['selected'] = true;
                    });
                    $._combobox(p, {
                        disabled: false,
                        onChange: function (newval) {
                            var screen = newval || oldval;
                            var dashboardscreen_detail_href = dashboardscreen_detail.replace('/0/', '/'+screen+'/');
                            $._control('#control', {href: dashboardscreen_detail_href});
                        },
                        onClick: function (record) {
                            var dashboardscreen_detail_href = dashboardscreen_detail.replace('/0/', '/'+record.id+'/');
                            $._control('#control', {href: dashboardscreen_detail_href});
                        }
                    });
                    screen_select.combobox('loadData', data.rows);
                },
                complete: function () {
                }
            });
        }
        
        $(function () {
            load_dashboardscreen('#screen_select');
            create_screen.unbind('click').bind('click', function () {
                $._control('#control', {href: dashboardscreen_create});
            });
            update_screen.unbind('click').bind('click', function () {
                var select_screen = screen_select.combobox('getValue');
                if(!select_screen) return;
                var dashboardscreen_update_href = dashboardscreen_update.replace('/0/', '/'+select_screen+'/');
                $._control('#control', {href: dashboardscreen_update_href});
            });
            delete_screen.unbind('click').bind('click', function () {
                var select_screen = screen_select.combobox('getValue');
                if(!select_screen) return;
                var dashboardscreen_delete_url = dashboardscreen_delete_api.replace('/0/', '/'+select_screen+'/');
                $._ajax({
                    type: 'POST',
                    url: dashboardscreen_delete_url,
                    traditional: true,
                    error_width: 501,
                    beforeSend: function (XHR) {
                    },
                    success: function (data) {
                        load_dashboardscreen('#screen_select');
                    },
                    complete: function () {
                        $._control('#control', {href: dashboardscreen_default});
                    }
                });
            });
            create_target.unbind('click').bind('click', function () {
                var select_screen = screen_select.combobox('getValue');
                if(!select_screen) return;
                $._control('#control', {href: dashboardscreentarget_create});
            });
            screen_screen.unbind('click').bind('click', function () {
                fullscreen_num++;
                fullscreen_num%2==1?enter_fullscreen('control'):exit_fullscreen();
            })
        })
    </script>
{% endblock %}