{% extends 'xm2cloud_cmp/_base.html' %}
{% load static %}

{% block container %}
    <div id="head" region="north" title="" split="false" border="false">
        {% include 'xm2cloud_cmp/_head.html' %}
    </div>
    <div id="body" region="center" title="" split="false" border="false">
        <div class="easyui-layout body-container" fit="true">
            <div class="nav-tool" region="north" title="<a class='link-underline'>暂未开放</a>" split="false"
                 border="false" collapsible="false">
                <div class="nav-tool-container">
                    <div class="lf left-tools">
                    </div>
                    <div class="rt right-tools">
                    </div>
                </div>
            </div>
            <div class="nav-page" region="center" title="" split="false" border="false" id="control">
            </div>
        </div>
    </div>
    <div id="foot" region="south" title="" split="false" border="false">
        {% include 'xm2cloud_cmp/_foot.html' %}
    </div>
{% endblock %}