{% extends 'xm2cloud_cmp/_layout.html' %}
{% load static %}

{% block main_container %}
<div class="easyui-layout" data-options="fit:true">
    <div class="fixed-body" data-options="region:'center',border:false">
        <div class="home-main lf">
            <div class="console-container">
                <div class="console-body">
                    <fieldset>
                        <legend class="bordered">综合概览</legend>
                        <div class="console-home-summary">
                            <div class="hosts-summary">
                                <div class="summary-box lf">
                                    <div class="label">总数量</div>
                                    <div class="value">
                                        <a href="#"><span id="total_nums" class="text-primary">0</span></a>
                                    </div>
                                </div>
                                <div class="summary-box lf">
                                    <div class="label">运行中</div>
                                    <div class="value">
                                        <a href="#"><span id="is_running" class="font-green">0</span></a>
                                    </div>
                                </div>
                                <div class="box-split lf"></div>
                                <div class="summary-box lf">
                                    <div class="label">将过期</div>
                                    <div class="value">
                                        <a href="#"><span id="is_outdate" class="font-red">0</span></a>
                                    </div>
                                </div>
                                <div class="summary-box lf">
                                    <div class="label">已过期</div>
                                    <div class="value">
                                        <a href="#"><span id="is_overdue" class="font-red">0</span></a>
                                    </div>
                                </div>
                                <div class="summary-box lf">
                                    <div class="label">异常中</div>
                                    <div class="value">
                                        <a href="#"><span id="is_unusual" class="font-red">0</span></a>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend class="bordered">资源分布</legend>
                        <div class="console-home-summary">
                            <div class="areas-summary">
                                {% for host_continent, host_manufacturers in info_objects.iteritems %}
                                    <div class="summary-box">
                                        <div class="box-head">
                                            <div class="lf">
                                                <a href="#" class="extranal-link continent">{{ host_continent.0.1 }}</a>
                                                (共 <a href="#" continent_id="{{ host_continent.0.0 }}" class="extranal-link-hover continent">{{ host_continent.0.2 }}</a> 台)
                                            </div>
                                            <div class="rt"></div>
                                            <div class="clear"></div>
                                        </div>
                                        <div class="box-body">
                                            {% for host_manufacturer, host_regions in host_manufacturers.iteritems %}
                                                {% if host_regions %}
                                                    <div class="detail-box lf">
                                                        <div class="detail-box-head">
                                                            <div class="lf">
                                                                <a href="#" class="extranal-link">{{ host_manufacturer.0.1 }}</a>
                                                                (共 <a href="#" continent_id="{{ host_continent.0.0 }}" manufacturer_id="{{ host_manufacturer.0.0 }}" class="extranal-link-hover manufacturer">{{ host_manufacturer.0.2 }}</a> 台)
                                                            </div>
                                                            <div class="rt">云服务器</div>
                                                            <div class="clear"></div>
                                                        </div>
                                                        <div class="detail-box-body">
                                                            <ul>
                                                                {% for host_region in host_regions %}
                                                                    <li>
                                                                        <div class="lf">{{ host_region.1 }}</div>
                                                                        <div class="rt">
                                                                            <a href="#" continent_id="{{ host_continent.0.0 }}" manufacturer_id="{{ host_manufacturer.0.0 }}" region_id="{{ host_region.0 }}" class="extranal-link-hover region">{{ host_region.2 }}</a> 台</div>
                                                                        <div class="clear"></div>
                                                                    </li>
                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                            <div class="clear"></div>
                                        </div>
                                        <div class="detail-box-foot">
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
        <div class="home-aside rt">
            <div class="console-container">
                <div class="console-body">
                    <fieldset>
                        <legend class="bordered">重要通知</legend>
                        <div class="console-home-summary">
                            <div class="event-summary">
                                <div class="clear"></div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend class="bordered">近期更新</legend>
                        <div class="console-home-summary">
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts%}
{{ block.super }}
<script type="text/javascript" src="{% static 'xm2cloud_cmp/../../static/xm2cloud_cmp/js/main.js' %}"></script>
<script type="text/javascript">
    var hosturl = "{% url 'xm2cloud_cmp:hosts' %}"
        ,ajax_csrf_token = "{{ csrf_token }}"
        ,host_summary_api = "{% url 'xm2cloud_cmp:api_host_summary' %}";

    // for auto load csrf_token
    $.ajaxSetup({data: {csrfmiddlewaretoken:  ajax_csrf_token}});

    // for extranal-link click handler
    function extranal_link_handler(e) {
        $(e).on('click', function (t) {
            var target = t.target;
            switch (e){
                case '#total_nums':
                    window.open(hosturl, '_blank');
                    break;
                case '#is_running':
                    var href = $.gen_urlparam(hosturl, {
                        isRunning: 1
                    });
                    window.open(href, '_blank');
                    break;
                case '#is_outdate':
                    var href = $.gen_urlparam(hosturl, {
                        isOutdate: 1
                    });
                    window.open(href, '_blank');
                    break;
                case '#is_overdue':
                    var href = $.gen_urlparam(hosturl, {
                        isOverdue: 1
                    });
                    window.open(href, '_blank');
                    break;
                case '#is_unusual':
                    var href = $.gen_urlparam(hosturl, {
                        isUnusual: 1
                    });
                    window.open(href, '_blank');
                    break;
                case 'a.continent':
                    var href = $.gen_urlparam(hosturl, {
                        continentId: $(target).attr('continent_id')
                    });
                    window.open(href, '_blank');
                    break;
                case 'a.manufacturer':
                    var href = $.gen_urlparam(hosturl, {
                        continentId: $(target).attr('continent_id'),
                        manufacturerId: $(target).attr('manufacturer_id')
                    });
                    window.open(href, '_blank');
                    break;
                case 'a.region':
                    var href = $.gen_urlparam(hosturl, {
                        regionId: $(target).attr('region_id'),
                        continentId: $(target).attr('continent_id'),
                        manufacturerId: $(target).attr('manufacturer_id')
                    });
                    window.open(href, '_blank');
                    break
            }
        });
    }
    $(function () {
        // for init lazy gat host summary
        $.ajax({
            url: host_summary_api,
            type: 'GET',
            dataType: 'json',
            beforeSend: function (XMLHttpRequest) {
                
            },
            success: function (data, textStatus) {
                if(textStatus=='success'){
                    $.each(data, function (k, v) {
                        $('#'+k).html(v);
                    });
                }
            }
        });

        // for total_nums click handler
        extranal_link_handler('#total_nums');

        // for is_running click handler
        extranal_link_handler('#is_running');

        // for is_outdate click handler
        extranal_link_handler('#is_outdate');

        // for is_overdue click handler
        extranal_link_handler('#is_overdue');

        // for is_unusual click handler
        extranal_link_handler('#is_unusual');

        // for continent click handler
        extranal_link_handler('a.continent');

        // for manufacturer click handler
        extranal_link_handler('a.manufacturer');

        // for region click handler
        extranal_link_handler('a.region');
    });
</script>
{% endblock %}