{% load static %}

<table id="hostgroup_datagrid" class="easyui-datagrid" border="false" fit="true"></table>

<script type="text/javascript" src="{% static 'xm2cloud_cmp/js/purl.js' %}"></script>
<script type="text/javascript">
    var ajax_csrf_token = "{{ csrf_token }}"
        ,host_manage = "{% url 'xm2cloud_cmp:host_manage' %}"
        ,hostgroup_detail = "{% url 'xm2cloud_cmp:hostgroup_detail' id=0 %}"
        ,hostgroup_list_api = "{% url 'xm2cloud_cmp:api_hostgroup_list' %}";

    $.ajaxSetup({data: {csrfmiddlewaretoken:  ajax_csrf_token}});

    function get_query_params() {
        var params = $.url(location.href).param();
        params['hostgroupSearch'] = $('#hostgroup_search').textbox('getValue');

        return params;
    }

    $(function () {
        $._datagrid('#hostgroup_datagrid', {
            url: hostgroup_list_api,
            onLoadSuccess: function (data) {
                $.each($(this).datagrid('getRows'), function(index, item){
                    var mb_id = '#mb_hostgroup_'+item.id;
                    var mt_id = '#mt_hostgroup_'+item.id;
                    $(mb_id).menubutton({menu: mt_id});
                    $(mt_id+' .menu-more').unbind('click').bind('click', function () {
                        var _t = $(this).attr('_t');
                        switch(_t){
                            case 'context_set':
                                alert('参数设置: '+item.id);
                                break;
                            case 'execute_script':
                                alert('执行脚本: '+item.id);
                                break;
                            case 'alert_logs':
                                alert('告警日志: '+item.id);
                                break;
                        }
                    });
                });
                
                $('.hostgroup-detail').unbind('click').bind('click', function () {
                    var _t = $(this).attr('_t');
                    $._control('#control', {href: _t});
                })
            },
            queryParams: get_query_params(),
            columns:[[
                {
                    field:'name',width:'32%',title:'名称',sortable:true,
                    formatter: function(value, row, index){
                        var _t = hostgroup_detail.replace('/0/', '/' + row.id + '/');
                        return '<a _t="'+_t+'" class="hostgroup-detail link-underline">'+value+'</a>';
                    }
                },
                {
                    field:'hosts',width:'5%',title:'实例',sortable:true,align:'center',
                    formatter: function(value, row, index){
                        var _t = host_manage+'?hostgroupId='+row.id+'&navName=host';
                        return '<a target="_blank" href="'+_t+'" class="link-underline">'+value+'</a>';
                    }
                },
                {
                    field:'notes',width:'30%',title:'备注',sortable:true
                },
                {
                    field:'update_time',width:'10%',title:'上次修改',sortable:true
                },
                {
                    field:'exception',width:'4%',title:'异常',sortable:true,
                    formatter: function(value, row, index){
                        return '<span class="font-green link-underline">已确认</span>';
                    }
                },
                {
                    field:'operation',width:'10%',title:'操作',align:'center',
                    formatter: function(value, row, index){
                        var tools = '<a id="mb_hostgroup_'+row.id+'" class="normal-link">'
                                  + '<font class="link-underline">更多</font></a>';
                        var extra = '<div id="mt_hostgroup_'+row.id+'" style="display: none;">'
                                  + '<div _t="context_set" class="menu-more">参数设置</div>'
                                  + '<div _t="execute_script" class="menu-more">脚本执行</div>'
                                  + '<div _t="alarm_logs" class="menu-more">告警日志</div></div>';
                        return tools + extra;
                    }
                }
            ]]
        })
    })
</script>