{% load static %}

<table id="host_datagrid" class="easyui-datagrid" border="false" fit="true"></table>

<script type="text/javascript" src="{% static 'xm2cloud_cmp/js/purl.js' %}"></script>
<script type="text/javascript">
    var ajax_csrf_token = "{{ csrf_token }}"
        ,host_list = "{% url 'xm2cloud_cmp:hosts' %}"
        ,host_manage = "{% url 'xm2cloud_cmp:host_manage' %}"
        ,host_create = "{% url 'xm2cloud_cmp:host_create' %}"
        ,host_list_api = "{% url 'xm2cloud_cmp:api_host_list' %}"
        ,host_detail = "{% url 'xm2cloud_cmp:host_detail' id=0 %}"
        ,host_update = "{% url 'xm2cloud_cmp:host_update' id=0 %}"
        ,host_delete = "{% url 'xm2cloud_cmp:host_delete' id=0 %}"
        ,hostgroup_manage = "{% url 'xm2cloud_cmp:hostgroup_manage' %}";

    $.ajaxSetup({data: {csrfmiddlewaretoken:  ajax_csrf_token}});

    function get_query_params() {
        var params = $.url(location.href).param();
        params['hostSearch'] = $('#global_search').textbox('getValue');

        return params;
    }

    $(function () {
        $('a.tool-button').unbind('click').bind('click', function () {
            var that = this
                ,name = $(that).attr('name');

            var options = {}
                ,selected = $('#host_datagrid').datagrid('getSelected');
            switch (name){
                case 'add':
                    options.href = host_create;
                    break;
                case 'edit':
                    if(!selected){
                        options.href = host_list;
                        break;
                    }
                    options.href = host_update.replace('/0/', '/'+selected.id+'/');
                    break;
                case 'del':
                    if(!selected){
                        options.href = host_list;
                        break;
                    }
                    options.href = host_delete.replace('/0/', '/'+selected.id+'/');
                    break;
            }
            $._control('#control', options);
        });
        $._datagrid('#host_datagrid', {
            url: host_list_api,
            onLoadSuccess: function (data) {
                $.each($(this).datagrid('getRows'), function(index, item){
                    var mb_id = '#mb_host_'+item.id;
                    var mt_id = '#mt_host_'+item.id;
                    $(mb_id).menubutton({menu: mt_id});
                    $(mt_id+' .menu-more').unbind('click').bind('click', function () {
                        var _t = $(this).attr('_t');
                        switch(_t){
                            case 'context_set':
                                alert('参数设置: '+item.id);
                                break;
                            case 'remote_login':
                                alert('远程登陆: '+item.id);
                                break;
                            case 'execute_logs':
                                alert('执行记录: '+item.id);
                                break;
                            case 'gray_release':
                                alert('灰度发布: '+item.id);
                                break
                        }
                    });
                });

                $('.host-detail').unbind('click').bind('click', function () {
                    var _t = $(this).attr('_t');
                    $._control('#control', {href: _t});
                });
            },
            queryParams: get_query_params(),
            columns:[[
                {
                    field:'ck',checkbox:true,align:'center'
                },
                {
                    field:'name',width:'17%',title:'名称',sortable:true,
                    formatter: function(value, row, index){
                        var _t = host_detail.replace('/0/', '/' + row.id + '/');
                        return '<a _t="'+_t+'" class="host-detail link-underline">'+value+'</a>'
                    }
                },
                {
                    field:'vmos',width:'8%',title:'镜像',sortable:true
                },
                {
                    field:'spec',width:'5%',title:'配置',
                    formatter: function(value, row, index){
                        return row.vmcpu+'核 '+row.vmmem+'G';
                    }
                },
                {
                    field:'binds',width:'4%',title:'网络',align:'center',
                    formatter: function(value, row, index){
                        var _t = host_manage+"?hostId="+row.id+"&navName=ipline";
                        return '<a target="_blank" href="'+_t+'" class="ipline-list link-underline">'+value+'</a>';
                    }
                },
                {
                    field:'hostgroups',width:'4%',title:'业务',align:'center',
                    formatter: function(value, row, index){
                        var _t = hostgroup_manage+"?hostId="+row.id;
                        return '<a target="_blank" href="'+_t+'" class="ipline-list link-underline">'+value+'</a>';
                    }
                },
                {
                    field:'expiry_time',width:'10%',title:'过期时间',sortable:true
                },
                {
                    field:'agent_state',width:'8%',title:'心跳状态',align:'center',
                    formatter: function(value, row, index){
                        var state = '';
                        if(row.is_running){
                            state = '<a class="font-green">正常</a>';
                        }else{
                            state = '<a class="font-grayish">N/A</a>';
                        }
                        return state;
                    }
                },
                {
                    field:'agent_update',width:'8%',title:'AGENT',align:'center',
                    formatter: function(value, row, index){
                        var version = '';
                        if(row.is_running){
                            version = '<a class="link-underline font-green">'+row.agentstate.version+'</a>';
                        }else{
                            version = '<a class="link-underline font-red">待安装</a>';
                        }
                        return version;
                    }
                },
                {
                    field:'exception',width:'5%',title:'异常',sortable:true,
                    formatter: function(value, row, index){
                        var state = '';
                        if(row.is_unusual) {
                            state = '<a class="link-underline font-red">待确认</a>';
                        }else{
                            state = '<a class="link-underline font-green">已确认</a>';
                        }

                        return state;
                    }
                },
                {
                    field:'operation',width:'10%',title:'操作',align:'center',
                    formatter: function(value, row, index){
                        var tools = '<a id="mb_host_'+row.id+'" class="normal-link">'
                                  + '<font class="link-underline">更多</font></a>';
                        var extra = '<div id="mt_host_'+row.id+'" style="display: none;">'
                                  + '<div _t="context_set" class="menu-more">参数设置</div>'
                                  + '<div _t="remote_login" class="menu-more">远程登陆</div>'
                                  + '<div _t="execute_logs" class="menu-more">执行记录</div>'
                                  + '<div _t="gray_release" class="menu-more">灰度发布</div></div>';
                        return tools + extra;
                    }
                }
            ]]
        })
    })
</script>