<div class="nav-page-container">
    <div class="page-title">
        <span>确认变更 ?</span>
    </div>
    <div class="page-notice">
        请完善以下信息,方便我们更好的为您服务.
    </div>
    <div class="page-body">
        <fieldset>
            <legend>基本信息</legend>
            <div class="form-group">
                <div class="lf form-label">操作用户 : </div>
                <div class="lf form-input">{{ request.user.username|capfirst }}</div>
            </div>
            <div class="clear"></div>
            <div class="form-group">
                <div class="lf form-label">首选线路 : </div>
                <div class="lf form-input"><input id="is_preferred" name="is_preferred" type="checkbox" {% if object.is_preferred %}checked{% endif %}></div>
            </div>
            <div class="clear"></div>
            <div class="form-group">
                <div class="lf form-label">线路 : </div>
                <div class="lf form-input">
                    <select id="line" name="line" class="easyui-combobox" value="" data-options="width:'380',height:'32'">
                        <option value="BGP" {% if object.line == "BGP" %}selected{% endif %}>BGP</option>
                        <option value="移动" {% if object.line == "移动" %}selected{% endif %}>移动</option>
                        <option value="联通" {% if object.line == "联通" %}selected{% endif %}>联通</option>
                        <option value="电信" {% if object.line == "电信" %}selected{% endif %}>电信</option>
                        <option value="其它" {% if object.line == "其它" %}selected{% endif %}>其它</option>
                    </select>
                </div>
            </div>
            <div class="clear"></div>
            <div class="form-group">
                <div class="lf form-label">地址 : </div>
                <div class="lf form-input">
                    <input id="ip" name="ip" class="easyui-textbox" value="{{ object.ip }}" prompt="8.8.8.8" data-options="width:'380',height:'32'">
                </div>
            </div>
            <div class="clear"></div>
            <div class="form-group">
                <div class="lf form-label">带宽 : </div>
                <div class="lf form-input">
                    <input id="band" name="band" class="easyui-textbox" value="{{ object.band }}" prompt="30" data-options="width:'380',height:'32'">
                </div>
            </div>
            <div class="clear"></div>
            <div class="form-group">
                <div class="lf form-label">备注 : </div>
                <div class="lf form-input">
                    <input id="notes" name="notes" class="easyui-textbox" value="{{ object.notes }}" data-options="width:'380',height:'32'">
                </div>
            </div>
            <div class="clear"></div>
            <div class="form-group">
                <div class="lf form-label">关联主机 : </div>
                <div class="lf form-input">
                    <select id="host" name="host" class="easyui-combobox" value="" data-options="width:'380',height:'32'">
                        <option value="">忽略关联</option>
                        {% for host in hosts %}
                            <option value="{{ host.pk }}" {% ifequal host object.host %}selected{% endifequal %}>{{ host.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="clear"></div>
            <div class="form-group">
                <div class="lf form-label">关联套餐 : </div>
                <div class="lf form-input">
                    <select id="package" name="package" class="easyui-combobox" value="" data-options="width:'380',height:'32'">
                        <option value="">忽略关联</option>
                        {% for package in iplinepackages %}
                            <option value="{{ package.pk }}" {% ifequal package object.package %}selected{% endifequal %}>{{ package.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="page-foot">
        <div class="operation rt">
            <a id="goback_ipline" href="#" class="easyui-linkbutton button-white no-border-radius">返回</a>
            <a id="update_ipline" href="#" class="easyui-linkbutton button-white no-border-radius">提交</a>
        </div>
        <div class="clear"></div>
    </div>
</div>

<script type="text/javascript">
    var selected_id = "{{ object.pk }}"
        ,ajax_csrf_token = "{{ csrf_token }}"
        ,ipline_list = "{% url 'xm2cloud_cmp:iplines' %}"
        ,ipline_update_api = "{% url 'xm2cloud_cmp:api_ipline_update' id=0 %}";

    $.ajaxSetup({data: {csrfmiddlewaretoken:  ajax_csrf_token}});

    $(function () {
        var _html;
        var _load;
        $('#update_ipline').linkbutton({
            onClick: function () {
                var that = this
                    ,ip = $('#ip').textbox('getValue')
                    ,band = $('#band').textbox('getValue')
                    ,line = $('#line').combobox('getValue')
                    ,host = $('#host').combobox('getValue')
                    ,package = $('#package').combobox('getValue')
                    ,is_preferred = $('#is_preferred').is(':checked');

                if (!_html) _html = $(that).find('span:last').html();
                _load = '<i class="fa fa-circle-o-notch fa-spin"></i>' + ' ' + _html;
                $(that).find('span:last').html(_load);

                var ipline_update_url = ipline_update_api.replace('/0/', '/' + selected_id + '/');
                $._ajax({
                    url: ipline_update_url,
                    traditional: true,
                    error_width: 501,
                    success: function (data) {
                        console.log(location.href+':'+data);
                        // location.href = data.next;
                        $._control('#control', {href: ipline_list});
                    },
                    complete: function () {
                        $(that).find('span:last').html(_html);
                    },
                    data: {ip: ip, band: band, line: line, host: host, package: package, is_preferred: is_preferred}
                })
            }
        });
        $('#goback_ipline').linkbutton({
            onClick: function () {
                $._control('#control', {href: ipline_list});
            }
        });
    })
</script>