<div class="nav-page-container">
    <div class="page-title">
        <span>确认新增 ?</span>
    </div>
    <div class="page-notice">
        请完善以下信息,方便我们更好的为您服务.
    </div>
    <div class="page-body">
        <fieldset>
            <legend>基本信息</legend>
            <div class="form-group">
                <div class="lf form-label">操作用户 : </div>
                <div class="lf form-input">{{ request.user.username|capfirst }}</div>
            </div>
            <div class="clear"></div>
            <div class="form-group">
                <div class="lf form-label">名称 : </div>
                <div class="lf form-input">
                    <input id="name" name="name" class="easyui-textbox" value="" data-options="width:'380',height:'32'">
                </div>
            </div>
            <div class="clear"></div>
            <div class="form-group">
                <div class="lf form-label">备注 : </div>
                <div class="lf form-input">
                    <input id="notes" name="notes" class="easyui-textbox" value="" data-options="width:'380',height:'32'">
                </div>
            </div>
            <div class="clear"></div>
            <div class="form-group">
                <div class="lf form-label">启用 : </div>
                <div class="lf form-input"><input id="enabled" name="enabled" type="checkbox" checked></div>
            </div>
            <div class="clear"></div>
            <div class="form-group">
                <div class="lf form-label">关联脚本 : </div>
                <div class="lf form-input">
                    <select id="script_select" name="script_select" class="easyui-combobox" value="" prompt="--请选择--"
                            disabled="true" required="true" missingMessage="" data-options="width:'380',height:'32'">
                    </select>
                </div>
            </div>
            <div class="clear"></div>
            <div class="form-group">
                <div class="lf form-label">周期计划 : </div>
                <div class="lf form-input">
                    <select id="crontab_select" name="crontab_select" class="easyui-combobox" value="" prompt="--请选择--"
                            disabled="true" data-options="width:'282',height:'32'">
                    </select>
                    <a id="create_crontab" href="#" class="tool-button easyui-linkbutton button-white normal-button"
                       data-options="width:'30',height:'32'">
                        <i class="fa fa-plus"></i>
                    </a>
                    <a id="update_crontab" href="#" class="tool-button easyui-linkbutton button-white normal-button"
                       data-options="width:'30',height:'32'">
                        <i class="fa fa-edit"></i>
                    </a>
                    <a id="delete_crontab" href="#" class="tool-button easyui-linkbutton button-white normal-button"
                       data-options="width:'30',height:'32'">
                        <i class="fa fa-trash"></i>
                    </a>
                </div>
            </div>
            <div class="clear"></div>
            <div class="form-group">
                <div class="lf form-label">间隔计划 : </div>
                <div class="lf form-input">
                    <select id="interval_select" name="interval_select" class="easyui-combobox" value="" prompt="--请选择--"
                            disabled="true" data-options="width:'282',height:'32'">
                    </select>
                    <a id="create_interval" href="#" class="tool-button easyui-linkbutton button-white normal-button"
                       data-options="width:'30',height:'32'">
                        <i class="fa fa-plus"></i>
                    </a>
                    <a id="update_interval" href="#" class="tool-button easyui-linkbutton button-white normal-button"
                       data-options="width:'30',height:'32'">
                        <i class="fa fa-edit"></i>
                    </a>
                    <a id="delete_interval" href="#" class="tool-button easyui-linkbutton button-white normal-button"
                       data-options="width:'30',height:'32'">
                        <i class="fa fa-trash"></i>
                    </a>
                </div>
            </div>
            <div class="clear"></div>
            <div class="form-group">
                <div class="lf form-label">关联集群 : </div>
                <div class="lf form-input">
                    <select id="cluster_select" name="cluster_select" class="easyui-combobox" value="" prompt="--请选择--"
                            disabled="true" required="true" missingMessage="" data-options="width:'380',height:'32'">
                    </select>
                </div>
            </div>
            <div class="clear"></div>
            <div class="form-group">
                <div class="lf form-label">关联群组 : </div>
                <div class="lf form-input">
                    <select id="hostgroup_select" name="hostgroup_select" class="easyui-combobox" value="" prompt="--请选择--"
                            disabled="true" data-options="width:'380',height:'32'">
                    </select>
                </div>
            </div>
            <div class="clear"></div>
            <div class="form-group">
                <div class="lf form-label">关联主机 : </div>
                <div class="lf form-input">
                    <select id="host_select" name="host_select" class="easyui-combobox" value="" prompt="--请选择--"
                            disabled="true" data-options="width:'380',height:'32'">
                    </select>
                </div>
            </div>
            <div class="clear"></div>
        </fieldset>
    </div>
    <div class="page-foot">
        <div class="operation rt">
            <a id="goback_timedtask" href="#" class="easyui-linkbutton button-white no-border-radius">返回</a>
            <a id="create_timedtask" href="#" class="easyui-linkbutton button-white no-border-radius">提交</a>
        </div>
        <div class="clear"></div>
    </div>
</div>

<script type="text/javascript">
    var ajax_csrf_token = "{{ csrf_token }}"
        ,timedtask_list = "{% url 'xm2cloud_cmp:timedtasks' %}"
        ,host_list_api = "{% url 'xm2cloud_cmp:api_host_list' %}"
        ,crontab_create = "{% url 'xm2cloud_cmp:crontab_create' %}"
        ,script_list_api = "{% url 'xm2cloud_cmp:api_script_list' %}"
        ,interval_create = "{% url 'xm2cloud_cmp:interval_create' %}"
        ,cluster_list_api = "{% url 'xm2cloud_cmp:api_cluster_list' %}"
        ,crontab_list_api = "{% url 'xm2cloud_cmp:api_crontab_list' %}"
        ,crontab_update = "{% url 'xm2cloud_cmp:crontab_update' id=0 %}"
        ,crontab_delete = "{% url 'xm2cloud_cmp:crontab_delete' id=0 %}"
        ,interval_list_api = "{% url 'xm2cloud_cmp:api_interval_list' %}"
        ,interval_update = "{% url 'xm2cloud_cmp:interval_update' id=0 %}"
        ,interval_delete = "{% url 'xm2cloud_cmp:interval_delete' id=0 %}"
        ,hostgroup_list_api = "{% url 'xm2cloud_cmp:api_hostgroup_list' %}"
        ,timedtask_create_api = "{% url 'xm2cloud_cmp:api_timedtask_create'%}";

    $.ajaxSetup({data: {csrfmiddlewaretoken:  ajax_csrf_token}});

    $(function () {
        var _html;
        var _load;
        var name_box = $('#name')
            ,notes_box = $('#notes')
            ,enabled_box = $('#enabled')
            ,host_select = $('#host_select')
            ,script_select = $('#script_select')
            ,cluster_select = $('#cluster_select')
            ,crontab_select = $('#crontab_select')
            ,create_crontab = $('#create_crontab')
            ,update_crontab = $('#update_crontab')
            ,delete_crontab = $('#delete_crontab')
            ,interval_select = $('#interval_select')
            ,create_interval = $('#create_interval')
            ,update_interval = $('#update_interval')
            ,delete_interval = $('#delete_interval')
            ,hostgroup_select = $('#hostgroup_select')
            ,create_timedtask = $('#create_timedtask');
        $._ajax({
            type: 'GET',
            url: script_list_api,
            traditional: true,
            error_width: 501,
            beforeSend: function (XHR) {
            },
            success: function (data) {
                $._combobox('#script_select', {
                    disabled: false
                });
                script_select.combobox('loadData', data.rows);
            },
            complete: function () {
            }
        });
        $._ajax({
            type: 'GET',
            url: crontab_list_api,
            traditional: true,
            error_width: 501,
            beforeSend: function (XHR) {
            },
            success: function (data) {
                $._combobox('#crontab_select', {
                    disabled: false,
                    onSelect: function (record) {
                        interval_select.combobox('clear');
                    },
                    formatter: function (row) {
                        var notes = "分 时 日 月 周"
                            ,hour = row.hour
                            ,minute = row.minute
                            ,day_of_week = row.day_of_week
                            ,day_of_month = row.day_of_month
                            ,month_of_year = row.month_of_year;
                        return '<span>'+minute+' '+hour+' '+day_of_week+' '+day_of_month+' '+month_of_year+'</span><br/><span style="color:#888">'+notes +'</span>';
                    }
                });
                crontab_select.combobox('loadData', data.rows);
            },
            complete: function () {
            }
        });
        $._ajax({
            type: 'GET',
            url: interval_list_api,
            traditional: true,
            error_width: 501,
            beforeSend: function (XHR) {
            },
            success: function (data) {
                $._combobox('#interval_select', {
                    disabled: false,
                    onSelect: function (record) {
                        crontab_select.combobox('clear');
                    },
                    formatter: function (row) {
                        var notes = '每';
                        switch(row.period){
                            case 'days':
                                notes += '天';
                                break;
                            case 'hours':
                                notes += '小时';
                                break;
                            case 'minutes':
                                notes += '分钟';
                                break;
                            case 'seconds':
                                notes += '秒';
                                break;
                            case 'microseconds':
                                notes += '毫秒';
                                break
                        }
                        notes += '执行一次';
                        return '<span>'+row.every+' '+row.period+'</span><br/><span style="color:#888">'+notes +'</span>';
                    }
                });
                interval_select.combobox('loadData', data.rows);
            },
            complete: function () {
            }
        });
        $._ajax({
            type: 'GET',
            url: cluster_list_api,
            traditional: true,
            error_width: 501,
            beforeSend: function (XHR) {
            },
            success: function (data) {
                $._combobox('#cluster_select', {
                    disabled: false,
                    onSelect: function (record) {
                        hostgroup_select.combobox('clear');
                        $._ajax({
                            type: 'GET',
                            url: hostgroup_list_api+'?clusterId='+record.id,
                            traditional: true,
                            error_width: 501,
                            beforeSend: function (XHR) {
                            },
                            success: function (data) {
                                $._combobox('#hostgroup_select', {
                                    disabled: false,
                                    onSelect: function (record) {
                                        host_select.combobox('clear');
                                        $._ajax({
                                            type: 'GET',
                                            url: host_list_api + '?hostgroupId=' + record.id,
                                            traditional: true,
                                            error_width: 501,
                                            beforeSend: function (XHR) {
                                            },
                                            success: function (data){
                                                $._combobox('#host_select', {
                                                    disabled: false,
                                                    formatter: function (row) {
                                                        return row.name;
                                                    },
                                                    onLoadSuccess: function (){
                                                    }
                                                });
                                                host_select.combobox('loadData', data.rows);
                                            },
                                            complete: function () {
                                            }
                                        })
                                    },
                                    onLoadSuccess: function (){
                                    }
                                });
                                hostgroup_select.combobox('loadData', data.rows);
                            },
                            complete: function () {
                            }
                        })
                    },
                    onLoadSuccess: function () {
                    }
                });
                cluster_select.combobox('loadData', data.rows);
            },
            complete: function () {
            }
        });
        create_crontab.unbind('click').bind('click', function () {
            $._control('#control', {href: crontab_create});
        });
        update_crontab.unbind('click').bind('click', function (){
            var crontab = crontab_select.combobox('getValue');
            if(!crontab) return false;
            $._control('#control', {href: crontab_update.replace('/0/', '/' + crontab + '/')});
        });
        delete_crontab.unbind('click').bind('click', function () {
            var crontab = crontab_select.combobox('getValue');
            if(!crontab) return false;
            $._control('#control', {href: crontab_delete.replace('/0/', '/' + crontab + '/')});
        });
        create_interval.unbind('click').bind('click', function () {
            $._control('#control', {href: interval_create});
        });
        update_interval.unbind('click').bind('click', function () {
            var interval = interval_select.combobox('getValue');
            if(!interval) return false;
            $._control('#control', {href: interval_update.replace('/0/', '/' + interval + '/')});
        });
        delete_interval.unbind('click').bind('click', function () {
            var interval = interval_select.combobox('getValue');
            if(!interval) return false;
            $._control('#control', {href: interval_delete.replace('/0/', '/' + interval + '/')});
        });
        create_timedtask.linkbutton({
            onClick: function () {
                var that = this
                    ,name = name_box.textbox('getValue')
                    ,enabled = enabled_box.is(':checked')
                    ,notes = notes_box.textbox('getValue')
                    ,host = host_select.combobox('getValue')
                    ,script = script_select.combobox('getValue')
                    ,cluster = cluster_select.combobox('getValue')
                    ,crontab = crontab_select.combobox('getValue')
                    ,interval = interval_select.combobox('getValue')
                    ,hostgroup = hostgroup_select.combobox('getValue');

                if (!_html) _html = $(that).find('span:last').html();
                _load = '<i class="fa fa-circle-o-notch fa-spin"></i>' + ' ' + _html;
                $(that).find('span:last').html(_load);

                $._ajax({
                    url: timedtask_create_api,
                    traditional: true,
                    error_width: 501,

                    success: function (data) {
                        console.log(location.href+':'+data);
                        // location.href = data.next;
                        $._control('#control', {href: timedtask_list});
                    },
                    complete: function () {
                        $(that).find('span:last').html(_html);
                    },
                    data: {
                        name: name, host: host, notes: notes, script: script, cluster: cluster, crontab: crontab,
                        interval: interval, hostgroup: hostgroup, enabled: enabled
                    }
                })
            }
        });
        $('#goback_timedtask').linkbutton({
            onClick: function () {
                $._control('#control', {href: timedtask_list});
            }
        });
    })
</script>