{% load static %}

<div class="foot-container">
    <div class="wrap-banner">
        <div class="qcode lf">
            <ul>
                <li><img src="{% static 'xm2cloud_web/img/xm2cloud-header.png' %}" alt="XM2CLOUD"></li>
                <li><img src="{% static 'xm2cloud_web/img/qcode.png' %}" alt=""></li>
            </ul>
        </div>
        <div class="contact rt">
            <ul>
                <li><a href="">给我们留言</a></li>
                <li><a href="">电子邮件: xmdevops@vip.qq.com</a></li>
                <li><a href="">北京办公地址:</a></li>
                <li><a href="">上海办公地址:</a></li>
                <li><a href="">杭州办公地址:</a></li>
                <li><a href="">联系电话：000-00000000</a></li>
                <li><a href="">服务条款</a></li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    <div class="wrap-copyright" >
        <ul>
            <li>@ 2017 -
                <script type="text/javascript">
                    var curYear = new Date().getFullYear();
                    document.write(curYear.toString());
                </script>
                XM2CLOUD Co., Ltd</li>
            <li class="square-block"></li>
            <li>杭州XM2CLOUD信息科技有限公司</li>
            <li class="square-block"></li>
            <li><a href="http://www.miitbeian.gov.cn/">浙ICP备00000000号</a></li>
        </ul>
    </div>
</div>