<table>
    <tbody>
        <tr class="firstRow">
            <td style="padding: 0px; font-family: 'Microsoft Yahei', Verdana, Simsun, sans-serif; font-size: 17px; color: rgb(112, 112, 112); word-break: break-all;">
                XM2CLOUD 帐户
            </td>
        </tr>
        <tr>
            <td style="padding: 0px; font-family: 'Microsoft Yahei', Verdana, Simsun, sans-serif; font-size: 41px; color: rgb(38, 114, 236); word-break: break-all;">
                用户身份验证
            </td>
        </tr>
        <tr>
            <td style="padding: 25px 0px 0px; font-family: 'Microsoft Yahei', Verdana, Simsun, sans-serif; font-size: 14px; color: rgb(42, 42, 42); word-break: break-all;">
                请使用此验证码为 XM2CLOUD 账户
                <a class="link" href="mailto:{{ email }}" style="color: rgb(38, 114, 236); text-decoration: none;">
                    {{ email }}
                </a>
                完成验证.
            </td></tr>
        <tr>
            <td style="padding: 25px 0px 0px; font-family: 'Microsoft Yahei', Verdana, Simsun, sans-serif; font-size: 14px; color: rgb(42, 42, 42); word-break: break-all;">
                您的验证码如下:
                <i style="color:red;text-decoration: underline">{{ checkcode }}</i>
            </td>
        </tr>
        <tr>
            <td style="padding: 25px 0px 0px; font-family: 'Microsoft Yahei', Verdana, Simsun, sans-serif; font-size: 14px; color: rgb(42, 42, 42); word-break: break-all;">
                如果你无法识别 XM2CLOUD 邮箱
                <a class="link" href="mailto:{{ email }}" style="color: rgb(38, 114, 236); text-decoration: none;">
                    {{ email }}
                </a>,
                可以
                <a class="link" href="#" style="color: rgb(38, 114, 236); text-decoration: none;">
                    单击此处
                </a>
                从该帐户删除你的电子邮件地址.
            </td>
        </tr>
        <tr>
            <td style="padding: 25px 0px 0px; font-family: 'Microsoft Yahei', Verdana, Simsun, sans-serif; font-size: 14px; color: rgb(42, 42, 42);">
                谢谢!
            </td>
        </tr>
        <tr>
            <td style="padding: 0px; font-family: 'Microsoft Yahei', Verdana, Simsun, sans-serif; font-size: 14px; color: rgb(42, 42, 42);">
                XM2CLOUD 帐户团队.
            </td>
        </tr>
    </tbody>
</table>