{% load static %}
<!DOCTYPE html>
<html {% block  html_attribs %}{% endblock %}>
{% block html %}
    <head>
    {% block head %}
        {% block meta %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="XM2CLOUD 是一款由XM自研的自动化运维管理平台软件，能够帮助企业方便的管理云资源,控好云成本,用好云服务.">
        <meta name="keywords" content="云配置管理平台,云费用管理平台,云监控管理平台,云DEVOPS协作平台">
        <meta name="author" content="xmdevops@vip.qq.com">
        {% endblock %}
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'xm2cloud_cmp/../../../xm2cloud_cmp/static/xm2cloud_cmp/img/favicon.ico' %}">
        <link rel="icon" type="image/x-icon" href="{% static 'xm2cloud_cmp/../../../xm2cloud_cmp/static/xm2cloud_cmp/img/favicon.ico' %}">
        <title>{{ title|default:'XM2CLOUD - 业界领先的云端运维平台' }}</title>
        {% block styles %}
        <!--
        1. reset.min.css是将所有的浏览器的自带样式重置掉,这样更易于保持各浏览器渲染的一致性(可选)
        2. normalize.min.css是尽量保留浏览器的默认样式,精确定位需要重置的样式(可选)
        -->
        <link rel="stylesheet" type="text/css" href="{% static 'xm2cloud_cmp/../../../xm2cloud_cmp/static/xm2cloud_cmp/js/insdep/reset.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'xm2cloud_cmp/../../../xm2cloud_cmp/static/xm2cloud_cmp/js/insdep/normalize.min.css' %}">
        <!--
        1. font-awesome.min.css为扩展字体图标(可选)
        -->
        <link rel="stylesheet" type="text/css" href="{% static 'xm2cloud_cmp/css/font-awesome/css/font-awesome.min.css' %}">
        <!--
        1. easyui_full是Insdep Theme全部样式包,包含:
           easyui.css            核心样式
           easyui_base.css       基础样式
           easyui_plus.css       增强样式
           easyui_animation.css  动画样式
        -->
        <link rel="stylesheet" type="text/css" href="{% static 'xm2cloud_cmp/../../../xm2cloud_cmp/static/xm2cloud_cmp/js/insdep/easyui_full.css' %}">
        <!--
        1. main.css是xm2cloud_cmp应用自定义样式(可选)
        -->
        <link rel="stylesheet" type="text/css" href="{% static 'xm2cloud_cmp/css/main.css' %}">
        {% endblock %}
        <!--[if lt IE 9]>
        <script src="{% static 'xm2cloud_cmp/../../../xm2cloud_cmp/static/xm2cloud_cmp/js/html5shiv.min.js' %}"></script>
        <script src="{% static 'xm2cloud_cmp/../../../xm2cloud_cmp/static/xm2cloud_cmp/js/respond.min.js' %}"></script>
        <![endif]-->
        <script src="{% static 'xm2cloud_cmp/../../../xm2cloud_cmp/static/xm2cloud_cmp/js/insdep/easyui/jquery.min.js' %}"></script>
        <script src="{% static 'xm2cloud_cmp/../../../xm2cloud_cmp/static/xm2cloud_cmp/js/insdep/easyui/jquery.easyui.min.js' %}"></script>
        <script src="{% static 'xm2cloud_cmp/../../../xm2cloud_cmp/static/xm2cloud_cmp/js/insdep/insdep-extend.min.js' %}"></script>
        <!--
        1. jquery-easyui-datagridviews是原生的datagrid扩展
        -->
        <script src="{% static 'xm2cloud_cmp/../../../xm2cloud_cmp/static/xm2cloud_cmp/js/insdep/expand/jquery-easyui-datagridview/datagrid-detailview.js' %}"></script>
    {% endblock %}
    </head>
    <!--
    1. class="easyui-layout"会导致无法fix滚动,主站模版暂禁用,平台管理界面启用.
    2. 需要注意的是class="easyui-layout"的子元素必须是包含data-options的div,否则无法嵌套布局
    -->
    <body class="easyui-layout" {% block body_attribs %}{% endblock %}>
        {% block body %}
            <div class="web-head" data-options="region:'north',border:false">
            {% block head_container %}
            {% endblock %}
            </div>
            <div class="web-foot" data-options="region:'south',border:false">
                {% block foot_container %}
                {% endblock %}
            </div>
            <div class="web-main" data-options="region:'center',border:false">
            {% block main_container %}
            {% endblock %}
            </div>
        {% endblock %}
        {% block scripts %}
            <!--
            1. main.js是xm2cloud_cmp应用自定义脚本
            -->
            <script src="{% static 'xm2cloud_cmp/../../../xm2cloud_cmp/static/xm2cloud_cmp/js/main.js' %}"></script>
        {% endblock %}
    </body>
{% endblock %}
</html>
