{% extends 'xm2cloud_cmp/_layout.html' %}
{% load static %}

{% block styles %}
    {{ block.super }}
{% endblock %}

{% block main_container %}
<div class="easyui-layout" data-options="fit:true">
    <div class="absolute-head" data-options="region:'north',border:false" title="<a href='#'>运行日志</a>">
        <div class="action-content">
            <div class="lf">
                <a id="search" href="#" class="easyui-linkbutton button-line-white button-line-unbackground">
                    <i class="fa fa-search" aria-hidden="true"></i> 高级搜索
                </a>
            </div>
            <div class="rt">
                <ul>
                    <li><input class="easyui-checkbox" checked> 自动刷新(60s)</li>
                    <li class="sep"></li>
                    <li><a _action="reload" href="#"><i class="fa fa-refresh fit-panel-font-awesome"></i> 刷新</a></li>
                </ul>
            </div>
            <div _action="search"></div>
        </div>
    </div>
    <div class="absolute-body" data-options="region:'center',border:false">
        <div id="alert-strategy-tab" class="easyui-tabs" data-options="fit:true">
            <div title="运行日志" data-options="closable:false,href:'{% url 'xm2cloud_cmp:alertrunninglogs' %}'"></div>
            <div title="告警日志" data-options="closable:false,href:'{% url 'xm2cloud_cmp:alertnotifyinglogs' %}'"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts%}
{{ block.super }}
<script type="text/javascript" src="{% static 'xm2cloud_cmp/../../../xm2cloud_cmp/static/xm2cloud_cmp/js/date.js' %}"></script>
<script type="text/javascript">
    var refresh_timer = null
        ,ajax_csrf_token = "{{ csrf_token }}";

    // for auto load csrf_token
    $.ajaxSetup({data: {csrfmiddlewaretoken:  ajax_csrf_token}});

    $(function () {
        $('#alert-strategy-tab').tabs({
            onSelect: function (title,index) {
                var a_title = '<a href="#">'+title+'</a>';
                $('div.absolute-head').panel({title: a_title});
            }
        });
    });
</script>
{% endblock %}