{% extends 'xm2cloud_cmp/_layout.html' %}
{% load static %}

{% block styles %}
    {{ block.super }}
    <style type="text/css">
        #graphitecheck_create_form table tr, #graphitecheck_update_form table tr{
            height: 30px;
        }
    </style>
{% endblock %}

{% block main_container %}
<div class="easyui-layout" data-options="fit:true">
    <div class="absolute-head" data-options="region:'north',border:false" title="告警策略">
        <div class="action-content">
            <div class="lf">
                <a id="add" href="#" class="easyui-linkbutton button-line-white button-line-unbackground">
                    <i class="fa fa-plus fit-panel-font-awesome" aria-hidden="true"></i> 添加
                </a>
                <a id="modify" href="#" class="easyui-linkbutton button-line-white button-line-unbackground">
                    <i class="fa fa-pencil fit-panel-font-awesome" aria-hidden="true"></i> 修改
                </a>
                <a id="delete" href="#" class="easyui-linkbutton button-line-white button-line-unbackground">
                    <i class="fa fa-minus fit-panel-font-awesome" aria-hidden="true"></i> 删除
                </a>
            </div>
            <div class="rt">
                <ul>
                    <li><input class="easyui-checkbox" checked> 自动刷新(60s)</li>
                    <li class="sep"></li>
                    <li><a _action="reload" href="#"><i class="fa fa-refresh fit-panel-font-awesome"></i> 刷新</a></li>
                </ul>
            </div>
            <div _action="add"></div>
            <div _action="modify"></div>
            <div _action="delete"></div>
            <div _action="grant"></div>
        </div>
    </div>
    <div class="absolute-body" data-options="region:'center',border:false">
        <div id="alert-strategy-tab" class="easyui-tabs" data-options="fit:true">
            <div title="指标监控" data-options="closable:false,href:'{% url 'xm2cloud_cmp:alertgraphitechecks' %}'"></div>
            <div title="站点监控" data-options="closable:false,href:'{% url 'xm2cloud_cmp:alertportchecks' %}'"></div>
            <div title="端口监控" data-options="closable:false,href:'{% url 'xm2cloud_cmp:alerthttpchecks' %}'"></div>
            <div title="业务监控" data-options="closable:false,href:'{% url 'xm2cloud_cmp:alerthttpchecks' %}'"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts%}
{{ block.super }}
<script type="text/javascript">
    var refresh_timer = null
        ,ajax_csrf_token = "{{ csrf_token }}"
        ,alerthttpcheck_list = "{% url 'xm2cloud_cmp:alerthttpchecks' %}"
        ,alertportcheck_list = "{% url 'xm2cloud_cmp:alertportchecks' %}"
        ,alertgraphitecheck_list = "{% url 'xm2cloud_cmp:alertgraphitechecks' %}";

    // for auto load csrf_token
    $.ajaxSetup({data: {csrfmiddlewaretoken:  ajax_csrf_token}});

    $(function () {

    });
</script>
{% endblock %}