<div   id="notifyinglog_detail"></div>
<table id="notifyinglogs_datagrid" class="easyui-datagrid" data-options="border:false"></table>

<script type="text/javascript">
    var notifyinglog_detail = "{% url 'xm2cloud_cmp:alertnotifyinglog_detail' id=0 %}"
        ,api_notifyinglogs_list = "{% url 'xm2cloud_cmp:api_alertnotifyinglog_list' %}";

    // for auto load csrf_token
    $.ajaxSetup({data: {csrfmiddlewaretoken:  ajax_csrf_token}});

    // for init notifyinglogs datagrid
    function init_notifyinglogs_datagrid(api) {
        $('#notifyinglogs_datagrid').datagrid({
            url: api,
            fit: true,
            method: 'GET',
            pageSize: 20,
            striped: false,
            remoteSort: false,
            rownumbers: true,
            pagination: true,
            fitColumns: true,
            singleSelect: true,
            checkOnSelect: true,
            selectOnCheck: true,
            onLoadSuccess: function (data) {
                // for instance operator dialog
                $('a.notifyinglog-detail').on('click', function (){
                    var notifyinglog_detail_href = notifyinglog_detail.replace('/0/', '/'+this.id+'/');
                    $('#notifyinglog_detail').dialog({
                        width: 800,
                        height: 500,
                        cache: false,
                        modal: false,
                        closed: false,
                        title: '查看详情',
                        resizable: false,
                        href: notifyinglog_detail_href,
                        cls: 'messager-window'
                    });
                })
            },
            columns:[[
                {
                    field:'id',width:'5%',title:'序号',sortable:true
                },
                {
                    field:'notice_way',width:'5%',title:'通知方式',align:'left',
                    formatter: function(value, row, index){
                        switch (value){
                            case 'email':
                                return '邮件';
                            case 'weixin':
                                return '微信';
                            default:
                                return '其它';
                        }
                    }
                },
                {
                    field:'alarms_way',width:'5%',title:'告警方式',align:'left',
                    formatter: function (value, row, index) {
                        switch (value){
                            case 'graphite_check':
                                return '指标告警';
                            case 'http_check':
                                return '站点告警';
                            case 'port_check':
                                return '端口告警';
                            case 'service_check':
                                return '业务告警';
                            default:
                                return '其它告警';
                        }
                    }
                },
                {
                    field:'target_usr',width:'12%',title:'通知人',align:'left',
                    formatter: function (value, row, index) {
                        return 'xmdevops@vip.qq.com';
                    }
                },
                {
                    field:'alert_title',width:'50%',title:'告警标题',align:'left',
                    formatter: function (value, row, index) {
                       var html = '主机['+row.targethost.name+']'+' '
                                 +row.sub_metric+' ('
                                 +row.end_values+') ';
                        switch (row.end_status){
                            case 'PASSING':
                                html += '恢复正常';
                                break;
                            default:
                                html += row.messages;
                                break;
                        }
                        return html;
                    }
                },
                {
                    field:'is_success',width:'4%',title:'状态',align:'center',
                    formatter: function(value, row, index){
                        if(value){
                            return '<span class="font-green">成功</span>';
                        }else{
                            return '<span class="font-red">失败</span>';
                        }
                    }
                },
                {
                    field:'notifytime',width:'12%',title:'上次发送时间',align:'center',
                    formatter: function(value, row, index){
                        return to_strdatetime(value);
                    }
                },
                {
                    field:'more_info',width:'8%',title:'查看详情',align:'center',
                    formatter: function(value, row, index){
                        return '<a id="'+row.id+'" class="notifyinglog-detail inner-link" href="#">查看详情</a>';
                    }
                }
            ]]
        })
    }

    // for auto reload data from django app backend when click
    function auto_reload_notifyinglogs_datagrid() {
        $('div.action-content .rt span.checkbox-inner').on('click', function () {
            var status = $(this).children('span.checkbox-checked').css('display') == 'none';
            if(status){
                refresh_timer = setInterval(function () {
                    $('#notifyinglogs_datagrid').datagrid('reload');
                }, 60000)
            }else{
                if(refresh_timer) clearInterval(refresh_timer);
            }
        });
    }
    $(function () {
        // for init notifyinglogs datagrid
        init_notifyinglogs_datagrid(api_notifyinglogs_list);

        // for auto reload data from django app backend
        refresh_timer = setInterval(function () {
            $('#notifyinglogs_datagrid').datagrid('reload');
        }, 60000);
        auto_reload_notifyinglogs_datagrid(refresh_timer);

        // for bind refresh button with reload action
        $('[_action="reload"]').on('click', function () {
            $('#notifyinglogs_datagrid').datagrid('reload');
        });
    });
</script>