<div class="notify-title">
    <p class="title">标题: </p>
    <p>
        主机[{{ object.checkhostresult.host.name }}], {{ object.checkhostresult.sub_metric }}
        {% if object.checkhostresult.end_status == 'PASSING' %}
            恢复正常
        {% else %}
            {{ object.checkhostresult.messages }}
        {% endif %}
    </p>
</div>
<div class="notify-body">
    <p class="title">内容: </p>
    {% if object.checkhostresult.end_status == 'PASSING' %}
        <p>解除告警通知</p>
    {% else %}
        <p>触发告警通知</p>
    {% endif %}
    <div class="content">
        <p>发生告警主机: {{ object.checkhostresult.host.name }} (IP: {{ object.checkhostresult.host.remoteip }}/{{ object.checkhostresult.host.localip }})</p>
        <p>告警发生时间: {{ object.checkhostresult.sta_time }}</p>
        {% if object.checkhostresult.end_status == 'PASSING' %}
            <p>告警解除时间: {{ object.checkhostresult.end_time }}</p>
        {% endif %}
        <p>告警持续时长: 计算中...</p>
        <p>上次告警状态:
            {% if object.checkhostresult.sta_status == 'PASSING' %}
                正常
            {% elif object.checkhostresult.sta_status == 'WARNING' %}
                警告
            {% elif object.checkhostresult.sta_status == 'ERROR' %}
                错误
            {% elif object.checkhostresult.sta_status == 'CRITICAL' %}
                严重
            {% else %}
                未知
            {% endif %}
        </p>
        <p>本次告警状态:
            {% if object.checkhostresult.end_status == 'PASSING' %}
                正常
            {% elif object.checkhostresult.end_status == 'WARNING' %}
                警告
            {% elif object.checkhostresult.end_status == 'ERROR' %}
                错误
            {% elif object.checkhostresult.end_status == 'CRITICAL' %}
                严重
            {% else %}
                未知
            {% endif %}
        </p>
        <p>告警聚合状态:
            {% if object.checkhostresult.alert_status == 'ALERTING' %}
                告警中
            {% elif object.checkhostresult.alert_status == 'IGNORED' %}
                已忽略
            {% elif object.checkhostresult.alert_status == 'RELIEVED' %}
                已解除
            {% else %}
            {% endif %}
        </p>
        <p>当前监控数据: {{ object.checkhostresult.end_values }}</p>
        <p>告警信息详情: {{ object.checkhostresult.messages }}</p>
    </div>
    <div class="moreinfo">
        <p>更多关联业务:
            <a target="_blank" href="{% url 'xm2cloud_cmp:host_detail' id=object.checkhostresult.host.id %}">
                {% if request.is_secure %}
                    https://{{ request.get_host }}{% url 'xm2cloud_cmp:host_detail' id=object.checkhostresult.host.id %}
                {% else %}
                    http://{{ request.get_host }}{% url 'xm2cloud_cmp:host_detail' id=object.checkhostresult.host.id %}
                {% endif %}
            </a>
        </p>
    </div>
</div>