{% extends 'xm2cloud_cmp/_layout.html' %}
{% load static %}

{% block styles %}
    {{ block.super }}
    <style type="text/css">
        #cluster_create_form table tr, #cluster_update_form table tr{
            height: 30px;
        }
    </style>
{% endblock %}

{% block main_container %}
<div class="easyui-layout" data-options="fit:true">
    <div class="absolute-head" data-options="region:'north',border:false" title="集群列表">
        <div class="action-content">
            <div class="lf">
                <a id="add" href="#" class="easyui-linkbutton button-line-white button-line-unbackground">
                    <i class="fa fa-plus fit-panel-font-awesome" aria-hidden="true"></i> 添加
                </a>
                <a id="modify" href="#" class="easyui-linkbutton button-line-white button-line-unbackground">
                    <i class="fa fa-pencil fit-panel-font-awesome" aria-hidden="true"></i> 修改
                </a>
                <a id="delete" href="#" class="easyui-linkbutton button-line-white button-line-unbackground">
                    <i class="fa fa-minus fit-panel-font-awesome" aria-hidden="true"></i> 删除
                </a>
                <a id="grant" href="#" class="easyui-linkbutton button-line-white button-line-unbackground">
                    <i class="fa fa-user-circle-o" aria-hidden="true"></i> 授权
                </a>
            </div>
            <div class="rt">
                <ul>
                    <li><input class="easyui-checkbox" checked> 自动刷新(60s)</li>
                    <li class="sep"></li>
                    <li><a _action="reload" href="#"><i class="fa fa-refresh fit-panel-font-awesome"></i> 刷新</a></li>
                </ul>
            </div>
            <div _action="add"></div>
            <div _action="modify"></div>
            <div _action="delete"></div>
            <div _action="grant"></div>
        </div>
    </div>
    <div class="absolute-body" data-options="region:'center',border:false">
        <table id="cluster_datagrid" class="easyui-datagrid" data-options="border:false"></table>
    </div>
</div>
{% endblock %}

{% block scripts%}
{{ block.super }}
<script type="text/javascript">
    var refresh_timer = null
        ,ajax_csrf_token = "{{ csrf_token }}"
        ,host_list = "{% url 'xm2cloud_cmp:hosts' %}"
        ,hostgroup_list = "{% url 'xm2cloud_cmp:hostgroups' %}"
        ,cluster_list_api = "{% url 'xm2cloud_cmp:api_cluster_list' %}"
        ,cluster_create = "{% url 'xm2cloud_cmp:cluster_create' %}"
        ,cluster_create_api = "{% url 'xm2cloud_cmp:api_cluster_create' %}"
        ,cluster_update = "{% url 'xm2cloud_cmp:cluster_update' id=0 %}"
        ,cluster_update_api = "{% url 'xm2cloud_cmp:api_cluster_update' id=0 %}"
        ,cluster_delete_api = "{% url 'xm2cloud_cmp:api_cluster_delete' id=0 %}";

    // for auto load csrf_token
    $.ajaxSetup({data: {csrfmiddlewaretoken:  ajax_csrf_token}});

    // for init cluster_datagrid
    function init_cluster_datagrid(api) {
        $('#cluster_datagrid').datagrid({
            url: api,
            fit: true,
            method: 'GET',
            pageSize: 20,
            striped: false,
            remoteSort: false,
            rownumbers: true,
            pagination: true,
            fitColumns: true,
            singleSelect: true,
            checkOnSelect: true,
            selectOnCheck: true,
            onLoadSuccess: function (data) {
                // for instance operator menubutton
                var row_num = $(this).datagrid('getRows').length;
                for(var i=0; i<row_num; i++){
                    var mbutton_id = 'mb_'+i;
                    $('#'+mbutton_id).menubutton({menu: '#mt_'+i});
                }
            },
            columns:[[
                {
                    field:'id',width:'4%',title:'序号',sortable:true
                },
                {
                    field:'env',width:'7.2  %',title:'环境类型',sortable:true
                },
                {
                    field:'name',width:'10%',title:'集群名称',sortable:true
                },
                {
                    field:'project',width:'10%',title:'所属项目',sortable:true
                },
                {
                    field:'hostgroups',width:'10%',title:'群组数量',sortable:true,align:'center',
                    formatter: function(value, row, index){
                        var hostgroup_href = hostgroup_list + '?clusterId='+row.id;
                        return '<a class="inner-link" href="'+hostgroup_href+'"><span class="text-left">'+row.hostgroups+'</span><span class="text-right">个群组</span></a>';
                    }
                },
                {
                    field:'hosts',width:'10%',title:'主机数量',sortable:true,align:'center',
                    formatter: function(value, row, index){
                        var host_href = host_list + '?clusterId='+row.id;
                        return '<a class="inner-link" href="'+host_href+'"><span class="text-left">'+row.hosts+'</span><span class="text-right">个主机</span></a>';
                    }
                },
                {
                    field:'create_time',width:'15%',title:'创建时间',align:'center',sortable:true
                },
                {
                    field:'notes',width:'20%',title:'备注'
                },
                {
                    field:'operations',width:'10%',title:'操作',align:'center',
                    formatter: function(value, row, index){
                        var tools = '<a id="mb_'+index+'" class="easyui-menubutton button-line-white button-line-unbackground"> '
                                  + '<i class="fa fa-cog"></i> 操作 </a>';
                        var extra = '<div id="mt_'+index+'" class="operation-mt" style="display: none;">'
                                  + '<div>参数设置</div>'
                                  + '<div>脚本执行</div>'
                                  + '<div>告警日志</div></div>';
                        return tools + extra;
                    }
                },
                {
                    field:'alerts',width:'5%',title:'告警',align:'right'
                }
            ]]
        });
    }

    // for auto reload data from django app backend when click
    function auto_reload_cluster_datagrid() {
        $('div.action-content .rt span.checkbox-inner').on('click', function () {
            var status = $(this).children('span.checkbox-checked').css('display') == 'none';
            if(status){
                refresh_timer = setInterval(function () {
                    $('#cluster_datagrid').datagrid('reload');
                }, 60000)
            }else{
                if(refresh_timer) clearInterval(refresh_timer);
            }
        });
    }

    // for handler add/modify/delete/grant action
    function cluster_action_handler() {
        $('div.action-content div.lf>a').on('click', function () {
            var action = $(this).attr('id');
            switch(action){
                case 'add':
                    $('div[_action='+action+']').dialog({
                        width: 480,
                        height: 270,
                        cache: false,
                        modal: false,
                        closed: false,
                        title: '新建集群',
                        resizable: false,
                        href: cluster_create,
                        cls: 'messager-window',
                        buttons: [{
                            text: '<i class="fa fa-check font-green"></i> 保存',
                            handler: function () {
                                $.ajax({
                                    type: 'POST',
                                    url: cluster_create_api,
                                    data: {
                                        name: $('#cluster_create_form input[textboxname="name"]').textbox('getText'),
                                        env: $('#cluster_create_form select[textboxname="env"]').textbox('getValue'),
                                        project: $('#cluster_create_form select[textboxname="project"]').textbox('getValue'),
                                        notes: $('#cluster_create_form input[textboxname="notes"]').textbox('getText')
                                    },
                                    dataType: 'json',
                                    success: function (data, textStatus, jqXHR) {
                                        $('div[_action='+action+']').dialog('close');
                                        $.messager.alert('提示', data.msg, data.success==0 && 'info' || 'error', function () {
                                            $('#cluster_datagrid').datagrid('reload');
                                        });
                                    },
                                    error: function (jqXHR, error, exception) {
                                        $('div[_action='+action+']').dialog('close');
                                        $.messager.alert('错误', '未知错误', 'error');
                                    }
                                });
                            }
                        },
                        {
                            text: '<i class="fa fa-times font-red"></i> 取消',
                            handler: function () {
                                $('div[_action='+action+']').dialog('close');
                            }
                        }]
                    });
                    break;
                case 'modify':
                    var selected = $('#cluster_datagrid').datagrid('getSelected');
                    if(selected) {
                        var cluster_update_url = cluster_update_api.replace('/0/', '/'+selected.id+'/')
                            ,cluster_update_href = cluster_update.replace('/0/', '/'+selected.id+'/');
                        $('div[_action='+action+']').dialog({
                            width: 480,
                            height: 270,
                            cache: false,
                            modal: false,
                            closed: false,
                            title: '修改集群:'+selected.name,
                            resizable: false,
                            href: cluster_update_href,
                            cls: 'messager-window',
                            buttons: [{
                                text: '<i class="fa fa-check font-green"></i> 保存',
                                handler: function () {
                                    $.ajax({
                                        type: 'POST',
                                        url: cluster_update_url,
                                        data: {
                                            name: $('#cluster_update_form input[textboxname="name"]').textbox('getText'),
                                            env: $('#cluster_update_form select[textboxname="env"]').textbox('getValue'),
                                            project: $('#cluster_update_form select[textboxname="project"]').textbox('getValue'),
                                            notes: $('#cluster_update_form input[textboxname="notes"]').textbox('getText')
                                        },
                                        dataType: 'json',
                                        success: function (data, textStatus, jqXHR) {
                                            $('div[_action='+action+']').dialog('close');
                                            $.messager.alert('提示', data.msg, data.success == 0 && 'info' || 'error', function () {
                                                $('#cluster_datagrid').datagrid('reload');
                                            });
                                        },
                                        error: function (jqXHR, error, exception) {
                                            $('div[_action=' + action + ']').dialog('close');
                                            $.messager.alert('错误', '未知错误', 'error');
                                        }
                                    });
                                }

                            },
                            {
                                text: '<i class="fa fa-times font-red"></i> 取消',
                                handler: function () {
                                    $('div[_action='+action+']').dialog('close');
                                }
                            }]
                        });
                    }else{
                        $.messager.alert('错误', '请选择一条记录', 'error');
                    };
                    break;
                case 'delete':
                    var selected = $('#cluster_datagrid').datagrid('getSelected');
                    if(selected){
                        var cluster_delete_url = cluster_delete_api.replace('/0/', '/' + selected.id + '/');
                        $.messager.confirm('确认框', '你确定要删除集群: '+selected.name+' 吗?', function (res) {
                            if(!res) return;
                            $.ajax({
                                type: 'POST',
                                url: cluster_delete_url,
                                data: {},
                                success: function (data, textStatus, jqXHR) {
                                    $.messager.alert('提示', data.msg, data.success == 0 && 'info' || 'error', function () {
                                        $('#cluster_datagrid').datagrid('reload');
                                    });
                                },
                                error: function (jqXHR, error, exception) {
                                    $.messager.alert('错误', '未知错误', 'error');
                                }
                            });
                        });
                    }else{
                        $.messager.alert('错误', '请选择一条记录', 'error');
                    };
                    break;
                case 'grant':
                    $.messager.alert('通知', '全新的变革,即将上线!', 'info');
                    break
            }
        });
    }

    // customer scripts entry
    $(function () {
        $('div.absolute-head').panel({title: '<a href="#">集群列表</a>'});
        // for init cluster_datagrid
        init_cluster_datagrid(cluster_list_api);

        // for bind refresh button with reload action
        $('[_action="reload"]').on('click', function () {
            $('#cluster_datagrid').datagrid('reload');
        });

        // for auto reload data from django app backend
        refresh_timer = setInterval(function () {
            $('#cluster_datagrid').datagrid('reload');
        }, 60000);
        auto_reload_cluster_datagrid(refresh_timer);

        // for handler add/modify/delete/grant action
        cluster_action_handler()
    });
</script>
{% endblock %}