<form id="cluster_update_form" method="post" enctype="multipart/form-data" novalidate>
    <table cellpadding="40" style="margin: auto;">
        <tbody>
            <tr>
                <td width="80px">集群名称:</td>
                <td>
                    <input name="name" class="easyui-textbox"
                           data-options="missingMessage:'必填项',required:true" maxlength="24"
                           style="width: 260px;height: 20px;" value="{{ object.name }}">
                </td>
            </tr>
            <tr>
                <td>环境类型:</td>
                <td>
                    <select name="env" class="easyui-combobox   "
                            style="width: 260px;height: 20px;">
                        {% if envirments %}
                            {% for env in envirments %}
                                {% if object.env.pk == env.pk %}
                                    <option value="{{ env.pk }}" selected>{{ env.name }}</option>
                                {% else %}
                                    <option value="{{ env.pk }}">{{ env.name }}</option>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>所属项目:</td>
                <td>
                    <select name="project" class="easyui-combobox   "
                            style="width: 260px;height: 20px;">
                        {% if projects %}
                            {% for proj in projects %}
                                {% if object.project.pk == env.pk %}
                                    <option value="{{ proj.pk }}" selected>{{ proj.name }}</option>
                                {% else %}
                                    <option value="{{ proj.pk }}">{{ proj.name }}</option>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>备注:</td>
                <td>
                    <input name="notes" class="easyui-textbox"
                           style="width: 260px;height: 20px;" value="{{ object.notes }}">
                </td>
            </tr>
        </tbody>
    </table>
</form>