<form id="graphitecheck_create_form" method="post" enctype="multipart/form-data" novalidate>
    <table cellpadding="40" style="margin: auto;">
        <tbody>
            <tr>
                <td>检测名称:</td>
                <td>
                    <input name="name" class="easyui-textbox"
                           data-options="missingMessage:'必填项',required:true" maxlength="255"
                           style="width: 260px;height: 20px;">
                </td>
            </tr>
            <tr>
                <td>是否激活:</td>
                <td>
                    <input name="is_active" class="easyui-checkbox" checked>
                </td>
            </tr>
            <tr>
                <td>检测指标:</td>
                <td>
                    <input name="metric" class="easyui-textbox"
                           data-options="missingMessage:'必填项',required:true" maxlength="255"
                           style="width: 260px;height: 20px;">
                </td>
            </tr>
            <tr>
                <td>触发条件:</td>
                <td>
                    <select name="check_condition" class="easyui-combobox   "
                            style="width: 260px;height: 20px;">
                        <option value="<">小于</option>
                        <option value="=">等于</option>
                        <option value=">">大于</option>
                        <option value="<=">小于等于</option>
                        <option value=">=">大于等于</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>触发阀值:</td>
                <td>
                    <input name="check_value" class="easyui-textbox"
                           data-options="missingMessage:'必填项',required:true" maxlength="255"
                           style="width: 260px;height: 20px;">
                </td>
            </tr>
            <tr>
                <td>指标数目:</td>
                <td>
                    <input name="min_series_nums" class="easyui-textbox"
                           data-options="" maxlength="255"
                           style="width: 260px;height: 20px;">
                </td>
            </tr>
            <tr>
                <td>失败次数:</td>
                <td>
                    <input name="max_failed_nums" class="easyui-textbox"
                           data-options="" maxlength="255"
                           style="width: 260px;height: 20px;">
                </td>
            </tr>
            <tr>
                <td>预警等级:</td>
                <td>
                    <input name="importance" class="easyui-radiobox" data-options="label:'正常'" value="PASSING">
                    <input name="importance" class="easyui-radiobox" data-options="label:'警告'" value="WARNING">
                    <input name="importance" class="easyui-radiobox" data-options="label:'错误'" value="ERROR" checked>
                    <input name="importance" class="easyui-radiobox" data-options="label:'严重'" value="CRITICAL">
                </td>
            </tr>
            <tr>
                <td>检测频率:</td>
                <td>
                    <input name="frequency" class="easyui-textbox"
                           data-options="missingMessage:'必填项',required:true" maxlength="255"
                           style="width: 260px;height: 20px;">
                </td>
            </tr>
        </tbody>
    </table>
</form>