{% extends 'xm2cloud_cmp/_layout.html' %}
{% load static %}


{% block styles %}
    {{ block.super }}
{% endblock %}

{% block main_container %}
<div class="easyui-layout" data-options="fit:true">
    <div class="absolute-head" data-options="region:'north',border:false" title="报表任务">
        <div class="action-content">
            <div class="lf">
                <a id="add" href="#" class="easyui-linkbutton button-line-white button-line-unbackground">
                    <i class="fa fa-plus fit-panel-font-awesome" aria-hidden="true"></i> 添加
                </a>
                <a id="modify" href="#" class="easyui-linkbutton button-line-white button-line-unbackground">
                    <i class="fa fa-pencil fit-panel-font-awesome" aria-hidden="true"></i> 修改
                </a>
                <a id="delete" href="#" class="easyui-linkbutton button-line-white button-line-unbackground">
                    <i class="fa fa-minus fit-panel-font-awesome" aria-hidden="true"></i> 删除
                </a>
                <a id="start" href="#" class="easyui-linkbutton button-line-white button-line-unbackground">
                    <i class="fa fa-play" aria-hidden="true"></i> 启动
                </a>
                <a id="stop" href="#" class="easyui-linkbutton button-line-white button-line-unbackground">
                    <i class="fa fa-stop" aria-hidden="true"></i> 停止
                </a>
            </div>
            <div class="rt">
                <ul>
                    <li><input class="easyui-checkbox" checked> 自动刷新(60s)</li>
                    <li class="sep"></li>
                    <li><a _action="reload" href="#"><i class="fa fa-refresh fit-panel-font-awesome"></i> 刷新</a></li>
                </ul>
            </div>
            <div _action="add"></div>
            <div _action="modify"></div>
            <div _action="delete"></div>
            <div _action="start"></div>
            <div _action="stop"></div>
        </div>
    </div>
    <div class="absolute-body" data-options="region:'center',border:false">
        <table id="reporttask_datagrid" class="easyui-datagrid" data-options="border:false"></table>
    </div>
</div>
{% endblock %}

{% block scripts%}
{{ block.super }}
<script type="text/javascript">
    var cluster_id = null
        ,refresh_timer = null
        ,ajax_csrf_token = "{{ csrf_token }}"
        ,reporttask_list_api = "{% url 'xm2cloud_cmp:api_reporttasks_list' %}";

    // for auto load csrf_token
    $.ajaxSetup({data: {csrfmiddlewaretoken:  ajax_csrf_token}});

    // for init reporttask_datagrid
    function init_reporttask_datagrid(api, data) {
        var get_data = data?data:{};
        $('#reporttask_datagrid').datagrid({
            url: api,
            fit: true,
            method: 'GET',
            queryParams: get_data,
            pageSize: 20,
            striped: false,
            remoteSort: false,
            rownumbers: true,
            pagination: true,
            fitColumns: true,
            singleSelect: true,
            checkOnSelect: true,
            selectOnCheck: true,
            columns:[[
                {
                    field:'id',width:'4%',title:'序号',sortable:true
                },
                {
                    field:'name',width:'12.3%',title:'任务名称',sortable:true
                },
                {
                    field:'task_type',width:'10%',title:'报告类型',
                    formatter: function(value, row, index){
                        switch (value){
                            case 'monitoring_overview':
                                return '监控报告-概览';
                            case 'monitoring_detailed':
                                return '监控报告-详情';
                            case 'codedeploy_overview':
                                return '代码发布-概览';
                            case 'resources_occupy_low':
                                return '资源占用-LOW';
                            case 'resources_occupy_high':
                                return '资源占用-TOP';
                            default:
                                return '未知任务';
                        }
                    }
                },
                {
                    field:'datefrom',width:'10%',title:'数据范围',align:'center',
                    formatter: function(value, row, index){
                        switch (value){
                            case 'last_day':
                                return '前一天';
                            case 'last_week':
                                return '上一周';
                            case 'last_quarter':
                                return '上一季';
                            case 'last_year':
                                return '上一年';
                            default:
                                return '时间段';
                        }
                    }
                },
                {
                    field:'last_run_at',width:'15%',title:'最后执行时间',sortable:true,align:'center'
                },
                {
                    field:'task_status',width:'15%',title:'最后执行结果',align:'center',
                    formatter: function(value, row, index){
                        switch (value){
                            case 'WAITTING':
                                return '<a href="#"><span class="font-grey">等待</span></a>';
                            case 'SUCCESS':
                                return '<a href="#"><span class="font-green">正常</span></a>';
                            default:
                                return '<a href="#"><span class="font-red">异常</span></a>';
                        }
                    }
                },
                {
                    field:'notes',width:'19.2%',title:'备注'
                },
                {
                    field:'enabled',width:'5%',title:'启用',align:'center',
                    formatter: function(value, row, index){
                        var dat = '是';
                        var cls = 'font-green';
                        if(!value){
                            dat = '否';
                            cls = 'font-red';
                        }
                        return '<a href="#"><span class="'+cls+'">'+dat+'</span></a>';
                    }
                },
                {
                    field:'reporting',width:'10%',title:'操作',align:'center',
                    formatter: function(value, row, index){
                        return '<a class="inner-link" href="#">报告记录</a>';
                    }
                }
            ]]
        });
    }

    // for auto reload data from django app backend when click
    function auto_reload_reporttask_datagrid() {
        $('div.action-content .rt span.checkbox-inner').on('click', function () {
            var status = $(this).children('span.checkbox-checked').css('display') == 'none';
            if(status){
                refresh_timer = setInterval(function () {
                    $('#reporttask_datagrid').datagrid('reload');
                }, 60000)
            }else{
                if(refresh_timer) clearInterval(refresh_timer);
            }
        });
    }

    // customer scripts entry
    $(function () {
        init_reporttask_datagrid(reporttask_list_api);

        // for bind refresh button with reload action
        $('[_action="reload"]').on('click', function () {
            $('#reporttask_datagrid').datagrid('reload');
        });

        // for auto reload data from django app backend
        refresh_timer = setInterval(function () {
            $('#reporttask_datagrid').datagrid('reload');
        }, 60000);
        auto_reload_reporttask_datagrid(refresh_timer);
    });
</script>
{% endblock %}